.nav-item {
    font-size: 18px;
}

.offset_form {
    border-radius: 5px;
    border-color: rgb(184, 40, 4);
}

.h4 {
    font-size: 20px;
}

/* .block_box {
    display: flex;
    justify-content: center;
} */