{% load static %}
<!-- insert static files with tag 'static' -->
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>talpo.ru</title>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- insert href of fonts -->

    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">

</head>

<body class="body">
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col my-logo">
                    <h1>logo</h1>
                </div>
                <div class="offset col-lg-3">
                    <h1>Klaus8k - git link</h1>
                </div>

                <!-- search
                <div class="col-sm-6 offset-lg-1 col-lg-4 d-flex search-form justify-content-end">
                    <img class="search-form__icon" src="{% static '/static/search.svg' %}" alt="search">
                    <img class="form_placeholder"></img>
                </div> -->

            </div>
        </div>
    </header>

    <div class="resume">
        <div class="container">
            <div class="row resume-content">
                <div class="col-lg-7 ">
                    <!-- resume text -->
                    <p class="resume-content__text">
                        Здравствуйте.
                        Меня зовут Соколов Олег. Я сделал этот сайт для того что бы собрать на нем свои проекты. Чем то
                        я пользуюсь на работе. Какие то из них - просто демонстрация навыков и место где эти навыки
                        можно развить. Что то просто было интересно, поэтому оно здесь.
                        <br><br>
                        Возможно этот сайт будет интересен работодателям и людям заинтерисованным в моих навыках.
                        <br><br>
                        Здесь есть ссылка на резюму (pdf). Так же все проекты опубликованы на github.com.
                        <br><br>
                        Контакты для связи внизу и по иконкам.
                        <br><br><br>
                        Спасибо за внимание =)
                    </p>
                    <div class="resume-content__dwnld">
                        <p class="explain">посмотреть полное резюме или скачать</p>
                        <!-- походу придется иконки скачивания переделть как кнопки -->
                        <div class="icon-dwn d-flex">
                            <a href="#" class="resume-content__dwnld__btn btn">резюме</a>
                            <img href="#" src="{% static '/static/download.svg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 d-flex justify-content-end">
                    <img class="my_photo " src="{% static '/static/photo.jpg' %}" alt="my_photo">
                </div>
            </div>
        </div>
    </div>

    <div class="projects-title">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <h1 class="title_project">рабочие Проекты</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="order_cost">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-5">
                    <img class="projects_img" src="{% static '/static/plholder_project.jpg' %}" alt="order_cost_img">
                </div>
                <div class="offset-1 col-lg-6">
                    <h1 class="projects_title">расчет себестоимости заказов</h1>
                    <p class="projects_text">Сервис расчета себестоимости заказов в различных сферах полиграфии и
                        печати, разными способами,
                        на разных размерах.
                        <br><br>
                        Расчет расхода носителя, расходных материалов и амортизации.
                    </p>
                    <div class="projects__dwnl">
                        <p class="explain">перейти на страницу проекта или скачать</p>

                        <div class="projects__dwnl d-flex">
                            <a href="/order_cost/" class="projects__dwnl__btn btn">order_cost</a>
                            <div class="icon-dwn">
                                <img href="#" src="{% static '/static/download.svg' %}" alt="icon-dwn">
                                <img href="#" src="{% static '/static/git.svg' %}" alt="icon-git">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parser">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="projects_title">Парсеры</h1>
                    <p class="projects_text">Здесь собраны различные парсеры с веб интерфейсом.
                        Парсеры html, js. <br><br>
                        С настройками параметров и паттернами для различных сайтов.
                    </p>
                    <div class="projects__dwnl">
                        <p class="explain">перейти на страницу проекта или скачать</p>

                        <div class="projects__dwnl d-flex ">
                            <a href="#" class="projects__dwnl__btn btn">Parsers</a>
                            <div class="icon-dwn">
                                <img href="#" src="{% static '/static/download.svg' %}" alt="icon-dwn">
                                <img href="#" src="{% static '/static/git.svg' %}" alt="icon-git">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-1 col-lg-5 d-flex justify-content-end">
                    <img class="projects_img " src="{% static '/static/plholder_project.jpg' %}" alt="parsers_img">
                </div>
            </div>
        </div>
    </div>

    <div class="evernotion">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <img class="projects_img" src="{% static '/static/plholder_project.jpg' %}" alt="evernotion_img">
                </div>
                <div class="offset-1 col-lg-6">
                    <h1 class="projects_title">Записки по типу evernote</h1>
                    <p class="projects_text">После того как затруднилась оплата Evernote, появилась мысль сделать
                        простейший аналог для себя. Что бы хранить всевозможные инструкции, шаблоны и т.п.
                        <br><br>
                        С прицелом на расширение функционала.
                    </p>
                    <div class="projects__dwnl">
                        <p class="explain">перейти на страницу проекта или скачать</p>

                        <div class="projects__dwnl d-flex">
                            <a href="#" class="projects__dwnl__btn btn">evernotion</a>
                            <div class="icon-dwn">
                                <img href="#" src="{% static '/static/download.svg' %}" alt="icon-dwn">
                                <img href="#" src="{% static '/static/git.svg' %}" alt="icon-git">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pdf-reader">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="projects_title">Ридер pdf с переводом</h1>
                    <p class="projects_text">Домашний проект для чтения англоязычной литература в формате пдф, но с
                        возможностью перевода отдельных слов, а не всего файла.
                        С опцией создание пометок и закладок.
                        <br><br>
                        С прицелом на маленькие смартфонные экраны
                    </p>
                    <div class="projects__dwnl">
                        <p class="explain">перейти на страницу проекта или скачать</p>
                        <div class="projects__dwnl d-flex ">
                            <a href="#" class="projects__dwnl__btn btn">pdf-reader</a>
                            <div class="icon-dwn">
                                <img href="#" src="{% static '/static/download.svg' %}" alt="icon-dwn">
                                <img href="#" src="{% static '/static/git.svg' %}" alt="icon-git">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-1 col-lg-5 d-flex justify-content-end">
                    <img class="projects_img " src="{% static '/static/plholder_project.jpg' %}" alt="pdf-reader_img">
                </div>
            </div>
        </div>
    </div>

    <div class="other_projects__title">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <h1 class="title_project">другое</h1>
                </div>
            </div>
        </div>
    </div>


    <!-- carousel_other -->
    <div class="carousel_other">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="other-ph">
                        <img src="{% static '/static/other_ph.jpg' %}" alt="">
                    </div>
                </div>
                <div class="offset-1 col-lg-6">
                    <div class="other-ph_high">
                        <p class="other-ph_title">название</p>
                        <p class="other-ph_text">Краткое описание проекта или что это вообще такое</p>
                    </div>
                    <div class="other-ph_link d-flex align-items-center">
                        <img src="{% static '/static/open_other.svg' %}" alt="">
                        <a href="#" target="_blank" rel="noopener noreferrer">Ссылка</a>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <br><br><br>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col footer_content d-flex justify-content-center">
                    <h1>FOOTER</h1>
                </div>

            </div>
        </div>
    </footer>


    <script src="{% static '/js/bootstrap.min.js' %}"></script>

</body>

</html>