{% load static %}
<!-- insert static files with tag 'static' -->
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>talpo.ru</title>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- insert href of fonts -->
    <!-- insert bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">


</head>

<body>
    <header>
        <div class="xxx">
            <img src="{% static '/static/download.svg'%}" alt="">
        </div>
    </header>






    <!-- <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/base.js"></script> -->
</body>

</html>