{% extends 'order_cost_base.html' %}
{% load static %}

{% block content %}

<div class="p-4">

    <div class="row border border-info border-3 rounded mb-2">
        <div class="result py-2">
            {% if result %}
            <h3>Себестоимость заказа: {{ result }} руб.</h3>
            {% else %}
            <h3>Здесь сумма расчета после парсинга партнерского сайта</h3>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col ">
            <div class="p-3">
                <h4>Расчет заказов на оффсетную печать</h4>
                <br>
                <form class="ml-auto pb-3" action="{% url 'order_cost:offset' %}" method="get">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary" value="offset">Расчет</button>
                    <a href="{% url 'order_cost:offset' %}" class="btn btn-danger">Сброс</a>
                </form>
            </div>
        </div>

        <div class="col rounded" style="background-color: rgb(211, 211, 211);">
            <div class="p-3">
                <h4>10 Последних расчетов:</h4>
                <br>
                <div> {% for item in offset_db|slice:":10" %}
                    <p>{{ item }}</p>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row pt-3">
        <div class="me-4 col-12 ">
            <h3>Описание проекта</h3>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic aspernatur consequatur labore ducimus
            cupiditate, sequi vel impedit cumque, omnis dolorum quas neque accusamus reprehenderit esse itaque modi
            velit vitae iure.
        </div>
    </div>

</div>

{% endblock %}