{% extends 'base_tmp.html' %}
{% load static %}

{% block content %}

<div class="offset p-4">

    <div class="row">
        <div class="result col-12  pb-3">
            <h3 style="color: rgb(117, 15, 15);">Себестоимость заказа: {{ result }} руб.</h3>
        </div>
    </div>

    <div class="row">
        <div class="content_block me-4 col-md-6 shadow rounded">
            <div class="offset_order_in p-3">
                <h4>Расчет заказов на оффсетную печать</h4>
                <br>
                <h5>Расчет заказ печати у партнеров. Срок поставки 1-2 дня</h5>
                <form class="ml-auto pb-3" action="{% url 'order_cost:offset' %}" method="get">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary" value="offset">Расчет</button>
                    <a href="{% url 'order_cost:offset' %}" class="btn btn-danger">Сброс</a>
                </form>
            </div>
        </div>

        <div class="content_block col shadow rounded">
            <div class="offset_input p-3">
                <h4>Текущие значения расходников</h4>
                <br>
                <br>
                <h4 style="color: rgb(3, 154, 8);">Здесь вывод цены заказа у партнеров</h4>
                <br>
                <br>

                <h4>Изменение себестоимости</h4>
            </div>
        </div>
    </div>
    {% include 'description.html' %}

</div>

{% endblock %}