{% extends 'base_tmp.html' %}
{% load static %}

{% block content %}

<div class="offset p-4">

    <div class="row">
        <div class="result col-12  pb-3">
            <h3 style="color: rgb(117, 15, 15);">Себестоимость заказа: {{ result }} руб.</h3>
        </div>
    </div>

    <div class="row">
        <div class="content_block me-4 col-md-6 shadow rounded">
            <div class="offset_order_in p-3">
                <h4>Расчет заказов на оффсетную печать</h4>
                <br>
                <form class="ml-auto pb-3" action="{% url 'order_cost:offset' %}" method="get">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary" value="offset">Расчет</button>
                    <a href="{% url 'order_cost:offset' %}" class="btn btn-danger">Сброс</a>
                </form>
            </div>
        </div>

        <div class="content_block col shadow rounded">
            <div class="offset_input p-3">
                <div class="offset_db p-3">
                    <h4>10 Последних расчетов:</h4>


                    <div> {% for item in offset_db|slice:":10" %}
                        <p>{{ item }}</p>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="content_block me-4 col-12 shadow rounded">
            <h3>Описание проекта</h3>
            <br><br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic aspernatur consequatur labore ducimus
            cupiditate, sequi vel impedit cumque, omnis dolorum quas neque accusamus reprehenderit esse itaque modi
            velit vitae iure.
        </div>
    </div>

</div>

{% endblock %}