{% extends 'order_cost_base.html' %}
{% load static %}


{% block content %}

<div class="p-4">

    <div class="row border border-info border-3 rounded mb-2">
        <div class="result py-2">
            {% if result %}
            <h3>Себестоимость заказа: {{ result }} руб.</h3>
            {% else %}
            <h3>Введите параметры изделия</h3>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="p-3">
                <h4>Расчет заказ для ризографии</h4>
                <br>
                <form action="{% url 'order_cost:riso' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary" value="riso">Расчет</button>
                    <a href="{% url 'order_cost:riso' %}" class="btn btn-danger">Сброс</a>
                </form>
            </div>
        </div>

        <div class="col rounded" style="background-color: rgb(211, 211, 211);">
            <div class="p-3">
                <h4>Текущие значения расходников</h4>
                <h4> {{ riso_db.date }}</h4>
                <h4>Цена за пачку: {{ riso_db.paper_cost_80 }} руб.</h4>
                <h4>Цена за краску: {{ riso_db.black_ink_cost }} руб.</h4>
                <h4>Цена мастер-пленку: {{ riso_db.master_list_cost }} руб.</h4>




                <div class="p-3">
                    <h4>Изменение себестоимости</h4>
                    <br>
                    <form action="{% url 'order_cost:riso' %}" method="post">
                        {% csrf_token %}
                        {{ form_set.as_p }}
                        <button type="submit" class="btn btn-danger">Изменить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <hr>


    <div class="row pt-3">
        <div class="me-4 col-12 ">
            <h3>Описание проекта</h3>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic aspernatur consequatur labore ducimus
            cupiditate, sequi vel impedit cumque, omnis dolorum quas neque accusamus reprehenderit esse itaque
            modi
            velit vitae iure.
        </div>
    </div>

</div>
</div>
</div>

{% endblock %}