{% extends 'base_tmp.html' %}
{% load static %}


{% block content %}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-5 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img class="me-3" width="40" height="32"></img>
            <span class="fs-3">order_cost</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/order_cost" class="nav-link ">main</a></li>
            <li class="nav-item"><a href="{% url 'order_cost:offset' %}" class="nav-link "
                    aria-current="page">offset</a></li>
            <li class="nav-item"><a href="{% url 'order_cost:solvent' %}" class="nav-link active">solvent</a></li>
            <li class="nav-item"><a href="#" class="nav-link">riso</a></li>
            <li class="nav-item"><a href="#" class="nav-link">stamp</a></li>
            <li class="nav-item"><a href="#" class="nav-link">oki</a></li>
        </ul>
    </header>
</div>

<h1 style="font-size: 60px; text-align: center;">solvent</h1>
{% endblock %}