{% extends 'base_tmp.html' %}
{% load static %}


{% block content %}

<div class="container">
    <div class="solvent">
        <div class="row d-flex">
            <div class="col-6">
                <h3>Расчет заказ широкоформатной печати</h3>
                <form action="{% url 'order_cost:solvent' %}" method="get">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary" value="offset">Расчет</button>
                    <a href="{% url 'order_cost:solvent' %}" class="btn btn-danger">Сброс</a>
                </form>
            </div>
            <div class="col">

                <h2>Себестоимость заказа:</h2>
                <h2> {{ result }} руб.</h2>


                <br>
                <br>



                <h4>Текущие значения расходников</h4>
                <!-- Точечная тотация для значений словаря. Списком с жесткой версткой пока -->
                <h4> {{ cost.solvent }}</h4>
                <h4>Изменение себестоимости</h4>
                <br>
                <form action="{% url 'order_cost:solvent' %}" method="get">
                    {% csrf_token %}
                    {{ form_set.as_p }}
                    <button type="submit" class="btn btn-danger">Изменить</button>
                </form>
                <br>
                <h5>{{ page_name }}</h5>
            </div>
        </div>
    </div>
</div>



{% endblock %}