{% extends 'order_cost_base.html' %}
{% load static %}

{% block content %}

<div class="p-4">

    <div class="row border border-info border-3 rounded mb-2">
        <div class="result py-2">
            {% if result %}
            <h3>Себестоимость заказа: {{ result }} руб.</h3>
            {% else %}
            <h3>Введите параметры изделия</h3>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="p-3">
                <h4>Расчет заказ широкоформатной печати</h4>
                <br>
                <form action="{% url 'order_cost:solvent' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary" value="solvent">Расчет</button>
                    <a href="{% url 'order_cost:solvent' %}" class="btn btn-danger">Сброс</a>
                </form>
            </div>
        </div>


        <div class="col rounded" style="background-color: rgb(211, 211, 211);">
            <div class="p-3">
                <h4>Текущие значения расходников</h4>
                <br>


                <div> {% for item in solvent_db %}
                    {% if item.type_prod == "banner" %}
                    <p>Баннер: {{ item.cost }}</p>
                    {% endif %}
                    {% if item.type_prod == "sticker" %}
                    <p>Наклейка: {{ item.cost }}</p>
                    {% endif %}
                    {% if item.type_prod == "tabl" %}
                    <p>Табличка: {{ item.cost }}</p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>


            <div class="p-3">
                <h4>Изменение себестоимости</h4>
                <br>
                <form action="{% url 'order_cost:solvent' %}" method="POST">
                    {% csrf_token %}
                    {{ form_set.as_p }}
                    <button type="submit" class="btn btn-danger">Изменить</button>
                </form>
            </div>
        </div>
    </div>
    <hr>


    <div class="col">

        <h3>Расчет широкоформатной печати</h3>
        <p>С сайта или из админки вносятся значения расходников в модель.</p>
        <p>На основе внесенных данных, функции калькуляторов выдают результат.</p>
        <p>В базу пишутся значения расходников для новых расчетов.</p>


    </div>

</div>



{% endblock %}