.body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    color: #292929;
}

.header {
    height: 150px;
    background-color: #75CFE2;
    padding-top: 50px;
}

.my-logo {
    text-transform: uppercase;
}

.search-form__icon {
    height: 46px;width: 46px;
    margin-left: 15px;
}

.form_placeholder {
    border-style: double;
    margin-left: 20px;
    border-color: #292929;
    height: 47px;
    width: 235px;
}