.body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    color: #292929;
}

.header {
    height: 150px;
    background-color: #75CFE2;
    padding-top: 50px;
}

.my-logo {
    text-transform: uppercase;
}

.search-form__icon {
    height: 46px;width: 46px;
    margin-left: 15px;
}

.form_placeholder {
    border-style: double;
    margin-left: 20px;
    border-color: #292929;
    height: 47px;
    width: 235px;
}
.resume-content {
    margin-top: 70px;    
}

.resume-content__text {
    font-size: 20px;
}

.resume-content__dwnld {
    margin-top: 51px;
}

.explain {
    font-size: 15px;
    color: #7B7B7B;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: azure;
    font-size: 26px;
    background: #0f415e;
    width: 235px;height: 50px;
    border-radius: 0;
    margin-bottom: 20px;
    transition: all 0, 5s ease;
}

.btn:hover {
    background: #071a25;
    color: azure;
}
