<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <title>sokolol.ru</title>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- insert href of fonts -->
    <meta name="yandex-verification" content="559d2abd9d431fc3" />
    <link rel="icon" href="{% static 'sokolol/img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'sokolol/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sokolol/css/index_sokolol.css' %}">
    <script src="{% static 'sokolol/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'sokolol/js/sokolol.js' %}"></script>



</head>

<body class="body">

    <!-- Шапка -->
    <header class="header my-4">
        <div class="container bg-light shadow border rounded p-3">
            <div class="row ">
                <div class="col my-logo">
                    <h1>Sokolol.ru</h1>
                </div>
    </header>

    <!-- Приветствие -->
    <div class="resume my-4">
        <div class="container bg-light shadow border rounded p-3">
            <div class="resume_block row ">
                <div class="col">
                    <p class="text">
                        Здравствуйте.
                        Меня зовут Олег. Я сделал этот сайт для того что бы собрать на нем свои проекты. Чем то
                        я пользуюсь на работе. Какие то из них - просто демонстрация навыков и место где эти
                        навыки
                        можно развить. Что то просто было интересно, поэтому оно здесь.
                        <br><br>
                        Возможно этот сайт будет интересен работодателям и людям заинтерисованным в моих
                        навыках.
                        <br><br>
                        Здесь есть ссылка на резюме (pdf). Так же все проекты опубликованы на github.com.
                        <br><br>
                        Контакты для связи внизу и по иконкам.
                        <br><br><br>
                        Спасибо за внимание =)
                    </p>

                    <div class="resume-content__dwnld">
                        <p class="explain">посмотреть полное резюме или скачать</p>
                        <div class="icon-dwn d-flex">
                            <button class="btn btn-primary px-4" type="button" href="#">

                                СКАЧАТЬ РЕЗЮМЕ</button>
                            <button class="btn btn-primary mx-2 px-4" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse_contacts" aria-expanded="false"
                                aria-controls="collapse_contacts">
                                ПОСМОТРЕТЬ КОНТАКТЫ</button>

                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-end">
                    <img class="my_photo rounded img-fluid " src="{% static 'sokolol/img/photo.jpg' %}" alt="my_photo">
                </div>
                <div class="collapse p-3" id="collapse_contacts">
                    <div class="card p-3">
                        <div class="row">

                            <div class="col">
                                <a href="https://wa.me/+79955016551?text=" target="_blank">
                                    <img id="hi_mess" src="{% static '/sokolol/img/whatsap.svg' %}" alt="">+7 (995)
                                    501-65-51</a>
                            </div>

                            <div class="col tel_contact">
                                <a href="https://t.me/Klaus8k" target="_blank">
                                    <img id="hi_mess" src="{% static '/sokolol/img/telegram.svg' %}" alt="">@Klaus8k</a>
                            </div>

                            <div class="col">

                                <a href="mailto:klaus888@yandex.ru" target="_blank">
                                    <img id="hi_mess" src="{% static '/sokolol/img/email.svg' %}"
                                        alt="">klaus888@yandex.ru</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <div class="projects-title">
        <div class="container my-4 pt-4">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <h1 class="title_project">Проекты</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- Tipkor.ru  -->
    <div class="tipkor">
        <div class="container bg-light shadow border border-3 border-info rounded p-3">
            <div class="row">
                <div class="block-l col d-flex">
                    <img class="projects_img img-fluid me-auto mb-3 rounded" src="{% static 'sokolol/img/tipkor.jpg' %}"
                        alt="order_cost_img">
                </div>
                <div class="projects-text col" style="flex-direction: column;">
                    <h2 style="color: red;">Основной проект</h2>
                    <h2>Сайт типографии tipkor.ru</h2>
                    <p>Cайт для небольшой типографии. Предоставляет кроме статичной информации (контакты, карта,
                        описание) еще модули расчета заказов по 3м разным направлениям деятельности компании.
                        Производится расчет цены и сроков готовности продукции.
                        После расчет есть возмоность оформить заказ. Клиент получает письмо.
                        Вся информация по заказу, расчету, клиенту записывается в базу данных.
                    </p>
                    <div>
                        <a href="https://tipkor.ru/" target="_blank" type="button" class="btn btn-primary">Перейти на
                            сайт</a>
                        <a href="/tipkor" type="button" class="btn btn-info">Подробное описание</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- заказ себестоимость -->
    <div class="order_cost">
        <div class="container bg-light shadow border rounded p-3 mt-3">
            <div class="row">
                <div class="block-l col d-flex">
                    <img class="projects_img img-fluid me-auto mb-3 rounded"
                        src="{% static 'sokolol/img/order_cost.jpg' %}" alt="order_cost_img">
                </div>
                <div class="projects-text col" style="flex-direction: column;">
                    <h2>Приложение расчета себестоимости заказов.</h2>
                    <hr>
                    <div class="row">
                        <div class="col-8">
                            <h4>Функции:</h4>
                            <li>Расчет себестоимости заказов исходя из специфики</li>
                            <li>Для офсетной печати парсер сайта поставщика и внесение расчета в базу</li>
                            <li>Для широкоформатки и ризографии расчет на основе цены составляющих</li>
                            <li>Фиксация в базе расчетов</li>
                        </div>
                        <div class="col">
                            <h4>Стек:</h4>
                            <li>Сервер VPS на Ubuntu, Nginx, Gunicorn</li>
                            <li>Django 4.0</li>
                            <li>Python 3.8, pip</li>
                            <li>html, css, Bootstrap 5.</li>
                            <li>SQLite.</li>
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col">
                            <a href="/order_cost/offset" type="button" class="btn btn-info">Оффсетная печать</a>
                            <a href="/order_cost/solvent" type="button" class="btn btn-info my-2">Широкоформатная
                                печать</a>
                            <a href="/order_cost/riso" type="button" class="btn btn-info">Ризография</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- таймер -->
    <div class="working-timer">
        <div class="container bg-light shadow border rounded p-3 mt-3">
            <div class="row">
                <div class="block-l col d-flex">
                    <img class="projects_img img-fluid me-auto mb-3 rounded" src="{% static 'sokolol/img/timer.jpg' %}"
                        alt="order_cost_img">
                </div>
                <div class="projects-text col" style="flex-direction: column;">
                    <h2>Десктопный таймер для учета/замера времени на задачу.</h2>
                    <p>Однооконный таймер для учета и/или замера времени, затраченного на определенный заказ или
                        операцию. С возможностью внесения названия задачи, сохранением расчета (json), паузой.
                    </p>
                    <a href="/timer" type="button" class="btn btn-primary">Описание таймера</a>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col my-2">
                            <a href="https://drive.google.com/file/d/1k65kliv1OdJZvnIGTmePjDuPo8wsgSe3/view?usp=sharing"
                                target="_blank">
                                <h4><img href="/media/timer_debian.zip" class="svg-dwn pe-2"
                                        src="{% static 'sokolol/img/download.svg' %}" alt="resume">скачать для Linux  (drive.google)
                                </h4>
                            </a>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="https://drive.google.com/file/d/1dxpUM7p2yIsvDY4By0r1B5N2IduSSmkK/view?usp=sharing"
                                target="_blank">

                                <h4><img href="/" class="svg-dwn pe-2" src="{% static 'sokolol/img/download.svg' %}"
                                        alt="resume">скачать для Windows  (drive.google)</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Учебные проекты -->
        <!-- <div class="learning_projects">
            <div class="container bg-light shadow border rounded p-3  mt-3">
                <div class="row">
                    <div class="block-l col d-flex">
                        <img class="projects_img img-fluid me-auto mb-3 rounded"
                            src="{% static 'sokolol/img/plholder_project.jpg' %}" alt="order_cost_img">
                    </div>
                    <div class="projects-text col border" style="flex-direction: column;">
                        <h2>Учебные проекты</h2>
                        <p>Учебные и более мелкие проекты. Учебные и более мелкие проекты. Учебные и более мелкие
                            проекты.
                            Учебные и более мелкие проекты. Учебные и более мелкие проекты. Учебные и более мелкие
                            проекты.
                        </p>
                        <div>
                            <a href="#" type="button" class="btn btn-primary">Страница таймера</a>
                            <img href="GIT" class="git_svg ms-2" src="{% static 'sokolol/img/git.svg' %}"
                                alt="timer_img"></img>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <br><br>


        <!-- карусель с сертификатами -->
        <div class="carousel ">
            <div class="container ">
                <div class="row ">
                    <div class="d-flex justify-content-center">
                        <h1 class="title_project">СЕРТИФИКАТЫ</h1>
                    </div>
                    <div id="CarouselSert" class="carousel slide d-flex pe-4">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#CarouselSert" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#CarouselSert" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#CarouselSert" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#CarouselSert" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#CarouselSert" data-bs-slide-to="4"
                                aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#CarouselSert" data-bs-slide-to="5"
                                aria-label="Slide 6"></button>
                        </div>

                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <img src="{% static 'sokolol/img/sert/cours_py.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>Погружение в Python. Партнеры: МФТИ, VK, ELDF.</h3>
                                    <p>Программа курса: Основы, IDE, venv, cтруктуры данных и функции, декораторы,
                                        генераторы, json, ООП, многопоточное и асинхронное программирование.</br>
                                        Финальный проект: Сервер для приема метрик. </p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img src="{% static 'sokolol/img/sert/cours_oop.jpg' %}" class="d-block w-100"
                                    alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>ООП и паттерны проектирования в Python. Партнеры: МФТИ, VK, ELDF.</h3>
                                    <p>Программа курса: тестирование и отладка программ, ООП, SOLID, паттерны
                                        проектирования
                                        (Decorator, Adapter, Observer, Chain of Responsibility, Abstract
                                        Factory)</br>
                                        Финальный проект: Игра с применением всех использованных практик.</p>
                                    </p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img src="{% static 'sokolol/img/sert/stepilk_py.jpg' %}" class="d-block w-100"
                                    alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>Python: основы и применение</h3>
                                    <p>Содержание курса
                                        <a target="_blank" href="https://stepik.org/course/512/syllabus"> ссылка
                                        </a>(в
                                        новой владке)
                                    </p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img src="{% static 'sokolol/img/sert/stepilk_sql.jpg' %}" class="d-block w-100"
                                    alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>Интерактивный тренажер по SQL</h3>
                                    <p>Содержание курса
                                        <a target="_blank" href="https://stepik.org/course/63054/syllabus"> ссылка
                                        </a>(в
                                        новой владке)
                                    </p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img src="{% static 'sokolol/img/sert/ru.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>Освоен метод слепого десятипальцевого набора текста на русской раскладке
                                    </h3>
                                    <!-- <p>Некоторый репрезентативный заполнитель для второго слайда.</p> -->
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img src="{% static 'sokolol/img/sert/en.jpg' %}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>Освоен метод слепого десятипальцевого набора текста на английской раскладке
                                    </h3>
                                    <!-- <p>Некоторый репрезентативный заполнитель для второго слайда.</p> -->
                                </div>
                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#CarouselSert"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Предыдущий</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#CarouselSert"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Следующий</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <br><br>
        <br><br>


        <!-- Подвал -->

        <footer class="footer bg-light shadow border rounded p-3  mt-3">
            <div class="container">
                <div class="row">

                    <div class="col">
                        <a href="https://wa.me/+79955016551?text=" target="_blank">
                            <img id="hi_mess" src="{% static '/sokolol/img/whatsap.svg' %}" alt="">+7 (995)
                            501-65-51</a>
                    </div>

                    <div class="col">
                        <a href="https://t.me/Klaus8k" target="_blank">
                            <img id="hi_mess" src="{% static '/sokolol/img/telegram.svg' %}" alt="">@Klaus8k</a>
                    </div>

                    <div class="col">

                        <a href="mailto:klaus888@yandex.ru" target="_blank">
                            <img id="hi_mess" src="{% static '/sokolol/img/email.svg' %}" alt="">klaus888@yandex.ru</a>
                    </div>
                </div>

            </div>
    </div>
    </footer>

</body>