{% extends 'sokolol_base.html' %}
{% load static %}

{% block content %}
<div class="container ps-4">
    <div class="row">
        <div class="col">
            <h3>Таймер</h3>
            <p> Ссылка гит
                <a target="_blank" href="https://github.com/Klaus8k/timer_work_ui">Github</a>
            </p>
            <br>
            <p>скачать для Linux
                <a href="#">timer.deb</a>
            </p>

            <p>скачать для Windows
                <a href="#">timer.exe</a>
            </p>
        </div>
        <div class="col">
            <h3>Задача.</h3>
            <p> Однооконный таймер для учета и/или замера времени, затраченного на определенный заказ или операцию. С
                возможностью внесения названия задачи, сохранением расчета (json), паузой.</p>

        </div>
        <div class="col">
            <h3>Стек</h3>
            <li>Python 3.8, pip, venv</li>
            <li>Библиотеки - Tkinter, datetime</li>
            <li>Хранение данных в файле в json формате</li>
            <li>pyinstaller - для создания исполняемого файла</li>

        </div>
    </div>
    <hr>
    <br>
    <h2>Реализация</h2>
    <br>
    <div class="row">

        <div class="col">
            <p>При нажатии “Старт” в классе окна создается объект класса Timer с параметром начала отсчета (текущий
                момент) и выключается пауза, из окна в параметр таймера задается название задачи.
                Начинается отсчет, которой в виде названия задачи и отсчета отображается в отдельном блоке.
                <br>
                <br>Отсчет реализован методом count, который вызывает сам себя каждую секунду, если не нажата пауза.
                При нажатии паузы, вызывается метод stop_timer, который записывает время остановки, переключает
                активность кнопок, и включает параметр паузы.<br>
                <br>При повторном нажатии паузы - таймер запускается снова, в обратном порядке.
                Если во время паузы нажать “Стоп”, то таймер запишется и полностью остановится.
                <br><br>
                Так же есть 2 функции. Одна для сборки json и его сохранения. Вторая для отображения предыдущих таймеров
                за этот день.
            </p>
        </div>
        <div class="col">
            <img class="img-fluid" src="{% static 'sokolol/img/timer_sub.jpg' %}" alt="">
        </div>
    </div>

    <br>
    <br>


</div>




{% endblock %}