{% extends 'sokolol_base.html' %}
{% load static %}

{% block content %}
<div class="container ps-4">
    <div class="row">
        <div class="col">
            <h3>Tipkor.ru</h3>
            <p> Ссылка гит
                <a target="_blank" href="https://github.com/Klaus8k/tipkor_site/tree/main/tipkor">Github</a>
            </p>

            <p> Ссылка сайт
                <a target="_blank" href="https://tipkor.ru/">Сайт</a>
            </p>

            <br>
            <h3>Задача.</h3>
            <p> Сайт для небольшой типографии.</p>
            <h4>Cферы деятельности.</h4>
            <li>Офсетная полиграфия</li>
            <li>Широкоформатная печать</li>
            <li>Изготовление печатей и штампов</li>
            <br>
        </div>
        <div class="col">
            <h3>Функции.</h3>
            <li>Расчет стоимости продукции по каждому направлению.</li>
            <li>Расчет сроков с учетом времени суток и выходных.</li>
            <li>Клиент может отправить заказ.</li>
            <li>Внесение клиентов, расчетов клиентов и заказов в базу данных.</li>
            <li>Отправка писем (клиент, типография)</li>
            <li>Контакты, карта, режим работы.</li>
            <li>Мобильная версия (адаптивный дизайн)</li>
            <br>

            <h3>Стек</h3>
            <li>Сервер VPS на Ubuntu</li>
            <li>Сервер статики - Nginx.</li>
            <li>Сервер приложения - Gunicorn.</li>
            <li>Фреймворк - Django.</li>
            <li>Python 3.8, pip</li>
            <li>Шаблоны - html, css, Bootstrap 5.</li>
            <li>База данных - PostgreSQL.</li>
        </div>
    </div>
    <hr>
    <br>
    <br>
    <h2>Структура приложений.</h2>
    <br>
    <div class="row">

        <div class="col">

            <h3>app Orders</h3>
            <li>Модель клиента</li>
            <li>Модель принятого заказа (Клиент один ко многим)</li>
            <li>Валидатор на размер файла макета</li>
            <li>Функция расчета времени готовности (по типу заказа)</li>
            <li>Модуль отправки писем через smtplib</li>
        </div>
        <div class="col">
            <img class="img-fluid" src="{% static 'sokolol/img/tipkor_img/db.jpg' %}" alt="">
        </div>
    </div>

    <hr>
    <br>
    <br>

    <div class="row">
        <div class="col">
            <h3>app Poly</h3>
            <li>Модель формата</li>
            <li>Модель изделия (формат один ко многим)</li>
            <li>Функция расчета цены</li>
            <li>Метод сборки json для записи в Order</li>
            <li>Некоторые choices - Константы (отдельный файл)</li>
            <br>
            <br>

            <p>
                View организовано так: один метакласс от (TemplateView, FormMixin) и от него под каждый вид продукции
                наследуется класс со своей формой и шаблоном.
                <br>
                Если запрос GET настроенная форма отображается в шаблоне, если пост - расчет и уже в шаблоне будет форма
                с
                параметрами запроса и расчет.<br>
                Нажатием “Оформить заказ” отправляется GET с id расчета - переход на страницу подтверждения заказа и
                ввода
                данных клиента.<br>
                Далее кнопка “Заказать” сохраняет клиента, если еще нет в базе, а заказ и доп информация сохраняется в
                Orders.<br>
                Клиенту и исполнителю отправляется Email с данными заказа.<br>
                Forms - ModelForm, с переопределёнными некоторыми полями.<br>
                картинка - скрин 3х экранов и база
            </p>
        </div>

        <div class="col">
            <img class="img-fluid" src="{% static 'sokolol/img/tipkor_img/poly_1.jpg' %}" alt="">
            <hr>
            <img class="img-fluid" src="{% static 'sokolol/img/tipkor_img/poly_2.jpg' %}" alt="">
            <hr>
            <img class="img-fluid" src="{% static 'sokolol/img/tipkor_img/poly_3.jpg' %}" alt="">
        </div>
    </div>
    <br>

    <hr>
    <br>
    <br>


    <div class="row">
        <div class="col">
            <h3>app Wide</h3>
            <li>Связанные модели: материал, постобработка, расчет</li>
            <li>Валидация по размерам (для формы)</li>
            <li>Функция расчета цены</li>
            <li>Метод сборки json для записи в Order</li>
            <li>Метод проверки наличия расчета (если подходит берется из базы расчет)</li>
            <br>

            <p>
                По View and Forms - принцип то же что и выше.
            </p>
        </div>
        <div class="col">
            <img class="img-fluid" src="{% static 'sokolol/img/tipkor_img/wide_db.jpg' %}" alt="">
        </div>
    </div>

    <hr>
    <br>
    <br>


    <div class="row">
        <div class="col">
            <h3>app Stamp</h3>
            <li> Связанные модели: 3 связанные модели для оснасток и 1 для расчета</li>
            <li> Цена расчитывается в методе проверки наличия расчета.</li>
            <li> Метод сборки json для записи в Order</li>
            <li> Функция расчет сроков изготовления. Не в Order, так как готовность может быть срочная (внутри дня)
            </li>
            <br>

            <p>
                Forms как и выше, все примерно так же.
                View - расчет и подтверждение заказ (ввод контактов и отправка заказ) - объединены в один шаблон.
                картинка - объединенная страница и база
            </p>
        </div>
        <div class="col">
            <img class="img-fluid" src="{% static 'sokolol/img/tipkor_img/stamp_db.jpg' %}" alt="">
        </div>
    </div>

    <hr>
    <br>
    <br>

    <h2>Шаблоны.</h2>
    <br>

    <div class="row">
        <div class="col">
            <p>Сделаны на Bootstrap 5, css у каждого приложения свой.<br>
                Есть базовый шаблон (шапка, меню подвал) внутри блок контент каждой страницы/приложения и блок
                контент
                для CEO.<br>
                Адаптивность организована медиа запросами. Якоря в ссылках для прокрутки на мобильных.<br>
                Страницы 404, 500 обрабатываются хэндлером с начального роутера urls.py в основном приложении.<br>
                robot и sitemap - выдается статично.<br>
            </p>
        </div>
        <div class="col">
            <img class="img-fluid" src="{% static 'sokolol/img/tipkor_img/templates.jpg' %}" alt="">
        </div>
    </div>
    <hr>
    <br>
    <br>


    <br>
    <h2>Деплой.</h2>
    <br>

    <div class="row">
        <div class="col">
            <p>Деплой на Django -> Wsgi -> Gunicorn -> Nginx -> IP/DNS<br>
                Организован из директории сайта символьными ссылками через сокет.<br>
                Сервер Gunicorn переменные окружения (для settings.py и почтового модуля) принимает из отдельного
                файла.<br>
                SSL подписан ботом, есть перенаправление с http -> https.
            </p>
        </div>
        <!-- <div class="col">
            <img class="img-fluid" src="{% static 'sokolol/img/tipkor_img/plholder_project_1.jpg' %}" alt="">
        </div> -->
    </div>
    <hr>
    <br>
    <br>

    <br>
    <h2>Планы.</h2>
    <br>

    <div class="row">
        <div class="col">
            <li>Соединить с ботом Телеграмм (заказы, отправка, уведомление) возможно через DRF</li>
            <li>Настроить логирование (loguru)</li>
            <li>Уведомление о готовности клиента (через админ панель)</li>
            <li>Подключение виджетов доставки/оплаты</li>
            <li>Личный кабинет клиента</li>

        </div>
        <!-- <div class="col">
            <img class="img-fluid" src="{% static 'sokolol/img/tipkor_img/plholder_project_1.jpg' %}" alt="">
        </div> -->
    </div>

    <br>
    <br>

</div>




{% endblock %}