p {
    font-size: 15px;
}

.explain {
    font-size: 10px;
    color: grey;
}

.btn:hover {
    background: #063856;
    color: azure;
}

.my_photo {
    width: 350px;
    height: 350px;
}

.projects_img {
    width: 350px;
    height: 350px;
}

.git_svg {
    height: 38px;
    width: 38px;
}




@media screen and (max-width: 992px) {
    .my_photo {
        width: 250px;
        height: 250px;
        margin-top: 30px !important;
        align-items: start;
    }
    
}
